<style> 
.md-datepicker-calendar-pane{
    z-index: 1200;
}
</style>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">First name {{$parent.profileTest}}</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.firstname" type="text">
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Last Name</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.lastname" type="text">
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Height</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.height" type="number">
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Weight</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.weight" type="number" >
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Blood type</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.bloodtype" type="text">
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Telephone</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.tel" type="text">
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Date of birth</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.birthdate" type="date">
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Age</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.age" type="number">
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Gender</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.gender" type="text">
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Address</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.address" type="text">
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Language</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.language" type="text">
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Emergency call</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.emergencycall" type="text">
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Health condition</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.condition" type="text">
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Allergies</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.allergies" type="text">
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-3 col-form-label">Surgical</label>
  <div class="col-xs-9">
    <input class="form-control" ng-model="$parent.information.profile.surgical" type="text">
  </div>
</div>